<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Registration</h1>
    <a href="/regStudent">
      <button type="button" name="button"> Registration for Students</button>
    </a>
    <a href="/regParents">
      <button type="button" name="button"> Registration for Parents</button>
    </a>
    <a href="/login">Login</a>
	</body>
</html>
