<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
	<style>
		body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #F3F0D7;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  .inputField{
  width: 50%;
  padding: 8px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  }
  
  #regPar {background-color: #F9F3DF;} 
  #regStu {background-color: #F7D59C;}
  #logPar {background-color: #D7E9F7;}
  #logStu {background-color: #FAEBE0;} 
	</style>
</head>

<body>
<button style="color: black;" class="tablink" onclick="openPage('regPar', this, '#F9F3DF')">Parents Registration</button>
<button style="color: black;" class="tablink" onclick="openPage('regStu', this, '#F7D59C')" id="defaultOpen">Students Registration</button>
<button style="color: black;" class="tablink" onclick="openPage('logPar', this, '#D7E9F7')">Parents Login</button>
<button style="color: black;" class="tablink" onclick="openPage('logStu', this, '#FAEBE0')">Students Login</button>

<div id="regPar" class="tabcontent">
	<form style="text-align: center;" action = "/api/parents" id="regParents" method = "post">
		<img style="border-radius: 80%;" src="img/logo.png" alt=""><br>
		<label style="color: black; font-size: large;">Email address: </label>
		<input class="inputField" type="text" autocomplete="off" name="email" placeholder="Email" /><br>
		<label style="color: black; font-size: large">Password: </label>
		<input class="inputField" type="password" autocomplete="off" name="password" placeholder="Password" /><br>
		<label style="color: black; font-size: large">PRN Number: </label>
		<input class="inputField" type="text" autocomplete="off" name="pnr" placeholder="PRN number" ><br>
		<input class="btn btn-lg btn-primary" type="submit" value="Submit Form"  style="text-align: center;"/>
	  </form>
</div>

<div style="text-align: center;" id="regStu" class="tabcontent">
	<form action = "/api/student" id="regStudent" method = "post">
		<img style="border-radius: 80%;" src="img/logo.png" alt=""><br>
		<label style="color: black; font-size: large;">Email address: </label>
		<input class="inputField" type="text" autocomplete="off" name="email" placeholder="Email" /><br>
		<label style="color: black; font-size: large;">Password: </label>
		<input class="inputField" type="password" autocomplete="off" name="password" placeholder="Password" /><br>
		<label style="color: black; font-size: large;">PRN Number: </label>
		<input class="inputField" type="text" autocomplete="off" name="pnr" placeholder="PRN number" ><br>
		<input class="btn btn-lg btn-primary" type="submit" value="Submit Form" />
	  </form>
</div>

<div id="logPar" class="tabcontent">
	<form style="text-align: center;" action = "/api/loginParents" id="loginParents" method = "post">
		<img style="border-radius: 80%;" src="img/logo.png" alt=""><br>
		<label style="color: black; font-size: large;">Username: </label>
		<input class="inputField" type="text" autocomplete="off" name="pnr" placeholder="Username" /><br>
		<label style="color: black; font-size: large;">Password: </label>
		<input class="inputField" type="password" autocomplete="off" name="password" placeholder="Password" /><br>
		<input class="btn btn-lg btn-primary" type="submit" value="Submit Form" />
	</form>
</div>

<div id="logStu" class="tabcontent">
	<form style="text-align: center;" action = "/api/loginStudent" id="loginStudent" method = "post">
		<img style="border-radius: 80%;" src="img/logo.png" alt=""><br>
		<label style="color: black; font-size: large;">Username: </label>
		<input class="inputField" type="text" autocomplete="off" name="pnr" placeholder="Username" /><br>
		<label style="color: black; font-size: large;">Password: </label>
		<input class="inputField" type="password" autocomplete="off" name="password" placeholder="Password" /><br>
		<input class="btn btn-lg btn-primary" type="submit" value="Submit Form" />
	</form>
</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- <h1>Registration</h1>
	<a href="/regStudent">
		<button type="button" name="button"> Registration for Students</button>
	</a>
	<a href="/regParents">
		<button type="button" name="button"> Registration for Parents</button>
	</a>
	<a href="/loginStudent">
		<button type="button" name="button">Login Student</button>
	</a>
	<a href="/loginParents">
		<button>Login Parents</button>
	</a> -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
		crossorigin="anonymous"></script>
	<script src="/js/index.js"></script>
	<script>
		function openPage(pageName, elmnt, color) {
    // Hide all elements with class="tabcontent" by default */
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
  
    // Remove the background color of all tablinks/buttons
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }
  
    // Show the specific tab content
    document.getElementById(pageName).style.display = "block";
  
    // Add the specific color to the button used to open the tab content
    elmnt.style.backgroundColor = color;
  }
  
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
	</script>
</body>

</html>