<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Login</h1>
		<form action = "/api/loginParents" id="loginParents" method = "post">
			<input type="text" autocomplete="off" name="pnr" placeholder="Username" />
			<input type="password" autocomplete="off" name="password" placeholder="Password" />
			<input type="submit" value="Submit Form" />
		</form>
  </body>
</html>
