<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action = "/api/parents" id="regParents" method = "post">
      <input type="text" autocomplete="off" name="email" placeholder="Email" />
      <input type="password" autocomplete="off" name="password" placeholder="Password" />
      <input type="text" autocomplete="off" name="pnr" placeholder="PRN number" >
      <input type="submit" value="Submit Form" />
    </form>
  </body>
</html>
