<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form id="reg-form">
      <input type="text" autocomplete="off" id="username" placeholder="Username" />
      <input type="password" autocomplete="off" id="password" placeholder="Password" />
      <input type="text" autocomplete="off" id="PRN" placeholder="PRN number" >
      <input type="submit" value="Submit Form" />
    </form>
  </body>
</html>
